.modal-window {
  position: relative;
  background: $white;
  width: 460px;
  min-height: 200px;
  border-radius: 4px;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.176);
  overflow: hidden;
  padding: 25px 0 70px;

  .m-header {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .title {
      font-weight: bold;
      font-size: 24px;
    }

    .close {
      cursor: pointer;
    }
  }

  .m-content {
    padding: 0 25px;

    .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .form-input {
        margin-bottom: 15px;
        width: 100%;

        &.half {
          width: 46%;
        }
      }
    }
  }

  .m-footer {
    position: absolute;
    background: $white;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 20px;

    #button {
      width: 100%;
    }
  }
}