$white: #fff;
$white-fade: #ffffff7c;
$light: #ebebeb;
$border: #ced4da;
$gray: #867e7e;
$text-gray: #6C757D;
$light-gray: #F0F3F6;
$primary-blue: #374CB5;
$primary-blue-light: #566BD3;
$primary-danger: #DC3545;
$secondary: #3243db;
$selected-row: #f8f9fa;
$danger: #dc3545;
$popover-border: #dee4e9;
$black: #000000;
$input-text: #495057;
$media-limit-desktop: 1599px;
$media-limit-tablet: 1279px;
$media-limit-mobile: 767px;
